<div class="home-body container ">
    <h2 class="text-center p-4">welcome</h2>

    <div class="d-flex flex-wrap gap-4 justify-content-center flex-column">
        <p class="text-center p-2">
            ---- Past Events -----</p>
        <%= render 'past_events', past_event: @user_previously_attended_events %>
        <p class="text-center p-2">
            ---- Upcoming Events ----</p>
        <%= render 'upcoming_events', upcoming_event: @user_upcoming_events %>
    
    </div>
    
</div>